
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Produto</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>Cadastro de Produtos</h1>

    <form action="{% url 'url_cadastro_produto' %}" method="POST">
        {% csrf_token %}
        <input type="text" value="Nome" name="btn_nome" placeholder="Digite o nome do produto" class="form-control" required><br>
        <input type="text" value="Preço" name="btn_preco" placeholder="Digite o preço do produto" class="form-control" required><br>
        <input type="text" value="Quantidade" name="btn_qtde" placeholder="Digite a quantidade do produto" class="form-control" required><br>
        <input type="submit" value="Salvar" name="btn_salvar" class="btn btn-success">
    </form>
</body>
</html>