atualizar_produto:

{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Produto</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>Atualização de Produtos</h1>

    <form action="{%url 'url_atualizar_produto' prod.id %}" method="POST">
        {% csrf_token %}
        <input type="text" value="{{ prod.nome }}" name="nome" class="form-control" required><br>
        <input type="text" value="{{ prod.preco }}" name="preco" class="form-control" required><br>
        <input type="text" value="{{ prod.qtde }}" name="qtde" class="form-control" required><br>
        <input type="submit" value="Salvar" name="btn_salvar" class="btn btn-success">
    </form>
</body>
</html>