<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro Produtos</h1>

    <form action="{% url 'url_cad_produto'%} " method="POST">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Digite o nome...." class="from-control" required>
        <br>
        <input type="text" name="preco" placeholder="Digite o preco...." class="from-control" required>
        <br>
        <input type="text" name="qtde" placeholder="Digite o quantidade...." class="from-control" required>
        <br>
        <input type="submit" name="salvar" class="btn btn success">
    </form>
    
</body>
</html>