{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuário</title>
    {% bootstrap_css %}
</head>
<body>
    <form action="{% url 'url_cad_user' %}" method="POST">
        {% csrf_token %}
    
        <input type="text" name="nome"
               placeholder="Digite o nome do usuário.."
               class="form-control" required>
    
        <input type="password" name="senha"
               placeholder="Digite sua senha.."
               class="form-control" required>
        
        <input type="email" name="email"
               placeholder="Digite o seu email.."
               class="form-control" required>
    
        <input type="submit" value="Salvar" class="btn btn-primary mt-2">
    </form>
</body>
</html>
