{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>Tela de Login</h1>
    <div class="container">
    <form action="{% url 'url_entrar' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Digite o usuário" required> <br>
        <input type="password" name="senha" placeholder="Digite a senha" required> <br>
        <input type="submit" name="btnEntrar" value="Entrar"class="btn btn-success"> 
    </form>
</body>
</html>