<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tela de login</h1>
    <form action="{%url url_entrar%}"method="POST">
        {%csrf_token %}
        <input type="text" name="nome" placeholder="Digite nome de Usuario...">
        <br>
        <input type="password" name="senha" placeholder="Digite sua senha">
       <br>
        <input type="submit" name="btnEntrar" placeholder="Digite sua senha.">
        <br>
    </form>

    
</body>
</html>