{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>LISTA DE PRODUTOS</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Atualizar</th>
                <th scope="col">Apagar</th>
            </tr>
        </thead>
        <tbody>
        {% for p in produtos %}
            <tr>
                <th scope="row">{{ p.id }}</th>
                <td>{{ p.nome }}</td>
                <td>{{ p.preco }}</td>
                <td>{{ p.quantidade }}</td>
                <td>
                    <form action="{% url 'url_atualizar_produtos' p.id %}">
                        <input type="submit" name="btn_atualizar" value="Atualizar" class="btn btn-primary">
                    </form>
                </td>
                <td>
                    <form action="{% url 'url_apagar_produto' p.id %}">
                        <input type="submit" name="btn_apagar" value="Apagar" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" name="Novo Produto" class="btn btn-success">
</body>
</html>